*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --x-circle-color: #e24c31;
  --background-color: #6d2a2a;
}

body {
  margin: 0;
  background-color: var(--background-color);
}
.board {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 100px);
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: var(--background-color);
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}
.cell.x,
.cell.circle {
  cursor: not-allowed;
}
.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: var(--x-circle-color);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: #dfa875;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: var(--background-color);
}

/*Restart page*/
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(109, 42, 42, 0.9);
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 5rem;
}

.winning-message button {
  padding: 15px;
  font-size: 2rem;
  background-color: #31d1d6;
  border: 1px solid #31d1d6;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: #fff;
  color: #31d1d6;
  border-color: #31d1d6;
}

.winning-message.show {
  display: flex;
}
